@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  /*   background: rgb(11, 10, 29);
  background: linear-gradient(
    90deg,
    rgba(11, 10, 29, 1) 0%,
    rgba(10, 10, 22, 1) 50%,
    rgba(11, 10, 29, 1) 100%
  ); */
}
html {
  font-family: "Onest Variable", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
